@{
    ViewData["Title"] = "Home Page";
}

@model DigitsViewModel

<div class="text-center">
    <div>
        <label>Total records:</label>
        <input type="text" value="@Model.count" readonly />
        <br /><br />
        <div>@Model.text</div>
    </div>
    <button onclick="location.href='@Url.Action("Index", "Home")'">Reload</button>
    <button onclick="location.href='@Url.Action("Index", "Home", new { filter = true })'">Filter list</button>
</div>
